{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "mocha": true
  },
  "rules": {
    "max-len": ["error", 120, { "ignoreComments": true }],
    "valid-jsdoc": ["error", { "requireReturn": false }],
    "require-jsdoc": "error"
  }
}
