{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "mocha": true
  },
  "rules": {
    "max-len": ["error", 120, { "ignoreComments": true }],
    "valid-jsdoc": ["error", {"requireReturn": false}]
  }
}
